        <!-- START: views/footer.tmpl.html -->
        <!-- {{templates.footer.url}} -->
        <div class="row">
            <div class="col-md-2 col-sm-6 footer-col">
                {{templates.footer.url}}
            </div>
            <div class="col-md-2 col-sm-6 footer-col">
            </div>

            <div class="col-md-4 col-sm-0 footer-col">
            </div>

            <div class="col-md-2 col-sm-6 footer-col text-">
            </div>
            <div class="col-md-2 col-sm-6 footer-col">
            </div>
        </div>
        <!-- END: views/footer.tmpl.html -->