        <!-- START: views/home/content-start.tmpl.html -->
        <div class="row">
            <div class="col-md-4">
                <h2>Neuzugänge</h2>
            </div>
            <div class="col-md-4">
                <!-- <h2 class="text-center">Neuzugänge</h2> -->
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <dom-element></dom-element>
            </div>
            <div class="col-md-4">
                <paper-button ng-click="hello()" raised>Dialog</paper-button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <!-- END: views/home/content-start.tmpl.html -->